[ADCPi]
bit_rate = 12
input_impedance = 16800
r_top = 30000
r_bottom = 7500
midOffset = 2.624202
milliVoltPerAmp = 117.61066

[thermistor]
min_temperature = 5
max_temperature = 150
r_0 = 10000
t_0 = 25
r_bias = 9970
beta = 3950

[SDS011]
serial_port = /dev/ttyUSB0
