[battery_voltage]
protocol = adc
channel = 1
type = voltage
zero_point = 0
resistance = 91000

[usb_load_current]
protocol = adc
channel = 7
type = current
zero_point = 2.624202
milliVoltPerAmp = 117.61066

[particulates]
protocol = serial
type = SDS011
serial_port = /dev/ttyUSB0

[temperature]
protocol = GPIO
type = DS18B20
